.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 9px 16px;
    min-width: 100px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white-color);
    border: 1px solid transparent;
    user-select: none;
    + .wrapper {
        margin-left: 8px;
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}
//style
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgba(0 0 0 / 6%);
    border-color: var(--color-search-after);
    &:hover {
        border-color: var(--color-search-border);
        background-color: var(--background-color-btn-search-hover);
    }
}
.primary {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    &:hover {
        border-color: var(--primary-color);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
            rgb(254, 44, 85);
    }
}
.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    &:hover {
        border: 1px solid var(--primary-color);
        background-color: rgba(254, 44, 85, 0.06);
    }
}
.text {
    border-color: var(--color-search-after);
    &:hover {
        text-decoration: underline;
    }
}
//size
.size {
    min-width: 88px;
    padding: 4px 16px;
}
.large {
    min-width: 140px;
    padding: 14px 16px;
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}
