.wrapper {
    --search-border-radius: 92px;
    --search-heigth: 46px;
    --search-top-spacer: 8px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--default-layout-header-height, 60px);
    background-color: var(--background-color);
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 1px;
    z-index: 10;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-space);
}
.logo-link {
    display: flex;
    align-items: center;
}
//Actions
.actions {
    display: flex;
    align-items: center;
}
.action-btn {
    position: relative;
    display: flex;
    align-items: center;
    background-color: transparent;
    font-size: 2.2rem;
    color: var(--color-btn-search);
    padding: 4px 8px;
    margin: 0 4px;
    cursor: pointer;
}
.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-left: 12px;
    cursor: pointer;
    user-select: none;
}
.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;
    cursor: pointer;
}

//menu
.mess {
    position: absolute;
    top: -2px;
    right: 2px;
    padding: 0 6px;
    height: 2rem;
    line-height: 2rem;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--primary-color);
    color: var(--white-color);
}
